#!/usr/bin/env bash
set -euo pipefail

{{ if eq .chezmoi.os "linux" }}
ZSH_PATH="$(command -v zsh)"
CURRENT_SHELL="$(getent passwd "$(id -un)" | cut -d: -f7)"

if [ "$CURRENT_SHELL" != "$ZSH_PATH" ]; then
    sudo chsh -s "$ZSH_PATH" "$(id -un)"
    echo "Reconnect your SSH session to use Zsh"
fi
{{ end }}

